<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h3>Book Store App</h3>
            <ul class="nav nav-pills">
                <li ><a href="/home">List All Books</a></li>
                <li class="active"><a href="/create">Create a Book</a></li>
                <li><a href="/delete">Delete a Book</a></li>
            </ul>
        </div>
        <div class="container">
            <h2>Create New Book</h2>
            <% if (typeof errorMsg !== "undefined") { %>
                <div class="alert alert-danger" >
                    <strong>Error!</strong> <%=errorMsg%>
                  </div>
            <% } %>
            <form action="/create" method="POST">
                <div class="form-group">
                    <label for="bookid">Book ID</label>
                    <input type="text" class="form-control" id="bookid" name="bookid" required >
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="bookid" name="author"required>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>       
    </body>
    </html>