<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h3>Book Store App</h3>
            <ul class="nav nav-pills">
                <li class="active"><a href="/home">List All Books</a></li>
                <li><a href="/create">Create a Book</a></li>
                <li><a href="/delete">Delete a Book</a></li>
                <li class="pull-right"><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <div class="container">
            <h2>List of All Books</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Book ID</th>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <% books.forEach(function(book){ %>
                        <tr>
                            <td><%= book.BookID %></td>
                            <td><%= book.Title %></td>
                            <td><%= book.Author %></td>
                        </tr>
                        
                    <%  }); %>
                </tbody>
            </table>
        </div>              
    </body>
</html>